
<input #searchBox  (input)="search(searchBox.value)" id="widget-search" class="form-control search" placeholder="Search Your Widgets">
<ul class="widgets">
  <li class="widget-item" *ngFor="let widget of widgets | filter:myFilter">
    <div class="card">
        <img src={{widget.imageURL}}/>
        <div class="container">
          <div>
              <h4>{{widget.name}}</h4>
              <h6>{{widget.author}}</h6>
          </div>
          <a *ngIf="router.url === '/dashboard'" (click)="addWidget(widget)">+</a>
        </div>
    </div>
  </li>
</ul>