.row{
    margin:auto;
}

.wcard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: #bdbdbd;
}
.wcard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /*position: absolute;*/
    margin-left: .5rem;
}

.wcontainer{
    padding: 2px 16px;
    background-color:#dfdede;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
img{
    max-width: 60%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
}

.widget-item{
    margin-bottom: 1.5rem;
}

a.but{
    margin-left: auto;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    border:none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 22px!important;
    background-color: rgb(16, 130, 158);
    color: #fff!important;
    white-space: nowrap;
    font-weight: bold;
}

a.but:hover{
    background-color: #095A6E;
}

a.link{
    color: rgb(16, 130, 158);
    cursor: pointer;
}
